In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('users_csv.csv')

In [7]:
df

,id,first_name,last_name,email,gender,city,country
0,1,Hamel,De Fries,hdefries0@umich.edu,Male,Kwangmyŏng,South Korea
1,2,Alex,Jenteau,ajenteau1@purevolume.com,Male,Longxing,China
2,3,Carr,Dengel,cdengel2@mayoclinic.com,Male,Topolná,Czech Republic
3,4,Glynnis,Larret,glarret3@newsvine.com,Female,Gammad,Philippines
4,5,Nesta,Kernermann,nkernermann4@businessinsider.com,Female,Wanganui,New Zealand
...,...,...,...,...,...,...,...
995,996,Kamilah,Dansie,kdansiern@admin.ch,Female,Baranowo,Poland
996,997,Wandie,Thornton-Dewhirst,wthorntondewhirstro@pagesperso-orange.fr,Female,Paris 03,France
997,998,Merrielle,Glascott,mglascottrp@census.gov,Female,Berlín,Honduras
998,999,Rudolfo,Ferrieri,rferrierirq@meetup.com,Male,Hamburg,Germany
999,1000,Aidan,Conyard,aconyardrr@umich.edu,Female,Aban,Russia

In [8]:
df.shape

(1000, 7)

In [9]:
df.head()

,id,first_name,last_name,email,gender,city,country
0,1,Hamel,De Fries,hdefries0@umich.edu,Male,Kwangmyŏng,South Korea
1,2,Alex,Jenteau,ajenteau1@purevolume.com,Male,Longxing,China
2,3,Carr,Dengel,cdengel2@mayoclinic.com,Male,Topolná,Czech Republic
3,4,Glynnis,Larret,glarret3@newsvine.com,Female,Gammad,Philippines
4,5,Nesta,Kernermann,nkernermann4@businessinsider.com,Female,Wanganui,New Zealand

In [10]:
person = {
    "first": "diego",
    "last": "castellanos",
    "email": "diegocaste7@hotmail.com"
}

In [11]:
people = {
    "first":["diego","felix"],
    "last":["castellanos","castellanos"],
    "email":["diegocaste7@hotmail.com","fix417@hotmail.com"],
    "phone":["3168232891","3165682094"]
}

In [12]:
people["email"]

['diegocaste7@hotmail.com', 'fix417@hotmail.com']

In [13]:
da = pd.DataFrame(people)

In [14]:
da

   first         last                    email       phone
0  diego  castellanos  diegocaste7@hotmail.com  3168232891
1  felix  castellanos       fix417@hotmail.com  3165682094

In [15]:
da['email']

0    diegocaste7@hotmail.com
1         fix417@hotmail.com
Name: email, dtype: object

In [16]:
type(df['email'])

pandas.core.series.Series

In [17]:
da.email

0    diegocaste7@hotmail.com
1         fix417@hotmail.com
Name: email, dtype: object

In [18]:
da[['last','email']]

          last                    email
0  castellanos  diegocaste7@hotmail.com
1  castellanos       fix417@hotmail.com

In [19]:
df.columns

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'city', 'country'], dtype='object')

In [20]:
da.iloc[0]

first                      diego
last                 castellanos
email    diegocaste7@hotmail.com
phone                 3168232891
Name: 0, dtype: object

In [21]:
da.iloc[[0,1],2]

0    diegocaste7@hotmail.com
1         fix417@hotmail.com
Name: email, dtype: object

In [22]:
da

   first         last                    email       phone
0  diego  castellanos  diegocaste7@hotmail.com  3168232891
1  felix  castellanos       fix417@hotmail.com  3165682094

In [23]:
da.loc[[1,0],['email','last']]

                     email         last
1       fix417@hotmail.com  castellanos
0  diegocaste7@hotmail.com  castellanos

In [24]:
df.shape

(1000, 7)

In [25]:
df.columns

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'city', 'country'], dtype='object')

In [26]:
df['gender'].value_counts()

Female    508
Male      492
Name: gender, dtype: int64

In [27]:
df.loc[[260,123,99],'gender']

260    Female
123    Female
99       Male
Name: gender, dtype: object

In [28]:
df.loc[260:266,'gender':'country']

     gender              city    country
260  Female      Gualeguaychú  Argentina
261    Male            Medang  Indonesia
262    Male       Pirapozinho     Brazil
263    Male            Narsaq  Greenland
264    Male       Tsimkavichy    Belarus
265    Male  Limeil-Brévannes     France
266  Female    Vilar do Monte   Portugal

In [29]:
df.set_index('email',inplace=True)

In [30]:
df

,id,first_name,last_name,gender,city,country
email,,,,,,
hdefries0@umich.edu,1,Hamel,De Fries,Male,Kwangmyŏng,South Korea
ajenteau1@purevolume.com,2,Alex,Jenteau,Male,Longxing,China
cdengel2@mayoclinic.com,3,Carr,Dengel,Male,Topolná,Czech Republic
glarret3@newsvine.com,4,Glynnis,Larret,Female,Gammad,Philippines
nkernermann4@businessinsider.com,5,Nesta,Kernermann,Female,Wanganui,New Zealand
...,...,...,...,...,...,...
kdansiern@admin.ch,996,Kamilah,Dansie,Female,Baranowo,Poland
wthorntondewhirstro@pagesperso-orange.fr,997,Wandie,Thornton-Dewhirst,Female,Paris 03,France
mglascottrp@census.gov,998,Merrielle,Glascott,Female,Berlín,Honduras
rferrierirq@meetup.com,999,Rudolfo,Ferrieri,Male,Hamburg,Germany
aconyardrr@umich.edu,1000,Aidan,Conyard,Female,Aban,Russia

In [31]:
df.index

Index(['hdefries0@umich.edu', 'ajenteau1@purevolume.com',
       'cdengel2@mayoclinic.com', 'glarret3@newsvine.com',
       'nkernermann4@businessinsider.com', 'kgowar5@ibm.com',
       'jscotchmer6@cocolog-nifty.com', 'cemblen7@sourceforge.net',
       'gcattellion8@technorati.com', 'ajiricka9@privacy.gov.au',
       ...
       'dhowseleeri@homestead.com', 'rmidlarrj@vinaora.com',
       'gliddyardrk@google.es', 'nlewseyrl@imdb.com', 'tmcnearm@51.la',
       'kdansiern@admin.ch', 'wthorntondewhirstro@pagesperso-orange.fr',
       'mglascottrp@census.gov', 'rferrierirq@meetup.com',
       'aconyardrr@umich.edu'],
      dtype='object', name='email', length=1000)

In [32]:
df.reset_index(inplace=True)
df

,email,id,first_name,last_name,gender,city,country
0,hdefries0@umich.edu,1,Hamel,De Fries,Male,Kwangmyŏng,South Korea
1,ajenteau1@purevolume.com,2,Alex,Jenteau,Male,Longxing,China
2,cdengel2@mayoclinic.com,3,Carr,Dengel,Male,Topolná,Czech Republic
3,glarret3@newsvine.com,4,Glynnis,Larret,Female,Gammad,Philippines
4,nkernermann4@businessinsider.com,5,Nesta,Kernermann,Female,Wanganui,New Zealand
...,...,...,...,...,...,...,...
995,kdansiern@admin.ch,996,Kamilah,Dansie,Female,Baranowo,Poland
996,wthorntondewhirstro@pagesperso-orange.fr,997,Wandie,Thornton-Dewhirst,Female,Paris 03,France
997,mglascottrp@census.gov,998,Merrielle,Glascott,Female,Berlín,Honduras
998,rferrierirq@meetup.com,999,Rudolfo,Ferrieri,Male,Hamburg,Germany
999,aconyardrr@umich.edu,1000,Aidan,Conyard,Female,Aban,Russia

In [33]:
df

,email,id,first_name,last_name,gender,city,country
0,hdefries0@umich.edu,1,Hamel,De Fries,Male,Kwangmyŏng,South Korea
1,ajenteau1@purevolume.com,2,Alex,Jenteau,Male,Longxing,China
2,cdengel2@mayoclinic.com,3,Carr,Dengel,Male,Topolná,Czech Republic
3,glarret3@newsvine.com,4,Glynnis,Larret,Female,Gammad,Philippines
4,nkernermann4@businessinsider.com,5,Nesta,Kernermann,Female,Wanganui,New Zealand
...,...,...,...,...,...,...,...
995,kdansiern@admin.ch,996,Kamilah,Dansie,Female,Baranowo,Poland
996,wthorntondewhirstro@pagesperso-orange.fr,997,Wandie,Thornton-Dewhirst,Female,Paris 03,France
997,mglascottrp@census.gov,998,Merrielle,Glascott,Female,Berlín,Honduras
998,rferrierirq@meetup.com,999,Rudolfo,Ferrieri,Male,Hamburg,Germany
999,aconyardrr@umich.edu,1000,Aidan,Conyard,Female,Aban,Russia

In [34]:
import pandas as pd

In [35]:
dfi = pd.read_csv('users_complete.csv')
dfi['first_name'] == 'Bale'

0      False
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: first_name, Length: 1000, dtype: bool

In [36]:
filt = (dfi['country'] == 'Colombia')

In [37]:
dfi.loc[filt,['sector','city']]

               sector         city
88            Finance  Santo Tomás
242            Energy      Combita
382        Technology   Belalcazar
463           Finance       Jardín
511               NaN       Ibagué
560               NaN      Palmira
595               NaN     Girardot
611       Health Care      Guacarí
632            Energy    Gualmatán
633  Basic Industries      Miranda
778  Basic Industries    El Águila
906       Health Care   Villamaría

In [38]:
where = (dfi['country']=='China') & (dfi['sector']=='Finance')

In [39]:
dfi.loc[where]

,id,first_name,last_name,email,gender,ip_address,city,country,phone,time-zone,sector,university,company,money,stock-name
0,1,Nicol,Gontier,ngontier0@moonfruit.com,Male,14.6.133.124,Jiangnan,China,582-277-7571,Asia/Shanghai,Finance,Shanghai Institue of Foreign Trade,Twinder,$2.24,AmeriServ Financial Inc.
14,15,Ingrid,Feldhorn,ifeldhorne@squidoo.com,Female,198.51.113.205,Changgai,China,989-970-2075,Asia/Shanghai,Finance,Zhengda Software College,Twitterlist,$5.21,"Waddell & Reed Financial, Inc."
40,41,Coop,Goulstone,cgoulstone14@loc.gov,Male,24.91.196.206,Wuhao,China,854-834-4256,Asia/Harbin,Finance,Xi'an Jiaotong University,Yamia,$2.92,"Prudential Financial, Inc."
177,178,Pauly,Mossdale,pmossdale4x@illinois.edu,Female,125.119.85.6,Jiaoshi,China,881-716-8817,Asia/Chongqing,Finance,Zhanjiang Ocean University,Youfeed,$4.36,"Houlihan Lokey, Inc."
182,183,Broddy,Turneux,bturneux52@ucla.edu,Male,231.209.235.16,Lijiaxiang,China,385-619-4614,Asia/Shanghai,Finance,Fudan University,Jaxworks,$0.69,"Euronet Worldwide, Inc."
188,189,Keelia,Rimington,krimington58@wikispaces.com,Female,20.104.54.78,Banzhong,China,410-295-7142,Asia/Shanghai,Finance,Shanghai Medical University,Mynte,$8.69,"Donegal Group, Inc."
279,280,Mateo,Gealle,mgealle7r@fda.gov,Male,248.136.77.9,Xinshidu,China,229-571-4662,Asia/Chongqing,Finance,The University of Nottingham Ningbo China,Bubblebox,$8.73,"Banco Santander, S.A."
286,287,Staford,Rizzello,srizzello7y@mediafire.com,Male,6.233.7.148,Jiancheng,China,731-295-8066,Asia/Chongqing,Finance,Chengdu Institute of Sichuan International Stu...,Browseblab,$2.42,"Investment Technology Group, Inc."
428,429,Donaugh,Geroldo,dgeroldobw@over-blog.com,Male,159.56.252.96,Ankou,China,916-449-1161,Asia/Chongqing,Finance,Liaocheng Teachers University,Jazzy,$4.00,"Southside Bancshares, Inc."
440,441,Brannon,Veness,bvenessc8@youku.com,Male,36.144.179.91,Qingquan,China,589-476-0763,Asia/Chongqing,Finance,Hebei University of Science and Technology,Wikizz,$1.29,"Southern First Bancshares, Inc."
443,444,Cornie,Soares,csoarescb@irs.gov,Male,34.89.55.242,Dazhou,China,854-302-3439,Asia/Chongqing,Finance,Zhejiang Gongshang University,Fliptune,$6.40,Bank Of Montreal
557,558,Francis,Loynes,floynesfh@forbes.com,Male,175.140.103.29,Tangzang,China,674-342-5468,Asia/Chongqing,Finance,Qiongzhou University,Yacero,$1.86,"Southwest Bancorp, Inc."
574,575,Alister,Tricker,atrickerfy@slashdot.org,Male,19.129.90.211,Weichanglu,China,595-181-6234,Asia/Shanghai,Finance,Xinjiang Agriculture University,Feedfish,$5.42,National General Holdings Corp
690,691,Meir,Ablott,mablottj6@hugedomains.com,Male,162.195.44.19,Zhengcun,China,248-614-6433,Asia/Shanghai,Finance,Yan Shan University,Demivee,$4.11,Heritage Commerce Corp
708,709,Myrilla,Hegerty,mhegertyjo@digg.com,Female,28.209.214.225,Yongfu,China,135-175-7187,Asia/Chongqing,Finance,Xuzhou Normal University,Quimm,$6.01,"KCG Holdings, Inc."
711,712,Obidiah,Crimp,ocrimpjr@nationalgeographic.com,Male,44.77.62.217,Jinggan,China,134-349-4444,Asia/Chongqing,Finance,Yangzhou University,Fiveclub,$1.59,"County Bancorp, Inc."
807,808,Gloriane,Gidney,ggidneymf@slideshare.net,Female,235.13.169.17,Huage,China,632-629-9571,Asia/Chongqing,Finance,Tongji Medical University,Zazio,$5.38,Kayne Anderson Acquisition Corp.
826,827,Tonya,Mathevet,tmathevetmy@npr.org,Female,134.191.245.89,Jingyang,China,726-486-4894,Asia/Shanghai,Finance,Urumqi Vocational University,Devpulse,$6.65,Nam Tai Property Inc.
834,835,Tobit,Luttger,tluttgern6@weather.com,Male,79.41.82.175,Jianmin,China,598-182-5738,Asia/Harbin,Finance,Beijing University of Science and Technology,Browsetype,$3.33,Riverview Bancorp Inc
878,879,Sella,Pettiford,spettifordoe@exblog.jp,Female,129.155.50.247,Liufang,China,582-941-9447,Asia/Shanghai,Finance,Anhui Normal University,Mynte,$3.08,Fidelity and Guaranty Life
916,917,Cornie,Tithecote,ctithecotepg@yolasite.com,Male,76.50.212.159,Gangmian,China,823-859-1254,Asia/Shanghai,Finance,Central South Forestry University,Shufflebeat,$2.30,"BCB Bancorp, Inc. (NJ)"
924,925,Dorree,Webster,dwebsterpo@skyrock.com,Female,4.72.111.246,Ronggui,China,584-846-2098,Asia/Chongqing,Finance,Wuhan University of Technology,Trilith,$8.24,D/B/A Chubb Limited New

In [40]:
where = (dfi['country']=='China') & (dfi['sector']=='Finance')
dfi.loc[~where]

,id,first_name,last_name,email,gender,ip_address,city,country,phone,time-zone,sector,university,company,money,stock-name
1,2,Bale,Defont,bdefont1@biblegateway.com,Male,213.198.46.35,Paris 01,France,262-426-2235,Europe/Paris,Energy,IDRAC (Institut de recherche en action commerc...,Skipstorm,$8.09,Range Resources Corporation
2,3,Paula,Orrell,porrell2@nih.gov,Female,12.73.137.140,Olafulihaa,Indonesia,534-284-1417,Asia/Makassar,Consumer Services,Universitas Atma Jaya Yogyakarta,Eidel,$9.01,"Ferrellgas Partners, L.P."
3,4,Kristopher,Mulchrone,kmulchrone3@posterous.com,Male,177.30.62.230,Chicago,United States,773-237-4393,America/Chicago,NaN,California School of Professional Psychology -...,LiveZ,$4.38,Putnam High Income Bond Fund
4,5,Traver,Marland,tmarland4@about.com,Male,221.191.58.184,Bang Lamung,Thailand,369-832-8208,Asia/Bangkok,NaN,International Buddhist College,Zava,$3.96,Wells Fargo & Company
5,6,Manuel,Steed,msteed5@adobe.com,Male,231.12.83.20,Shashūbay,Kazakhstan,526-803-9839,Asia/Almaty,NaN,Kazak National Technical University,Einti,$0.90,"General American Investors, Inc."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Brody,Rockhall,brockhallrn@vkontakte.ru,Male,170.187.46.152,Beiqiao,China,842-643-4789,Asia/Shanghai,Public Utilities,Northern Sichuan Medical College,Skajo,$5.62,"Dominion Energy, Inc."
996,997,Laird,Moseby,lmosebyro@scientificamerican.com,Male,75.71.58.234,Turija,Serbia,841-919-1249,Europe/Belgrade,Finance,University of Kragujevac,Tagcat,$2.91,Cowen Inc.
997,998,Piotr,Ebbles,pebblesrp@ustream.tv,Male,92.179.241.85,Igang,Philippines,931-269-9021,Asia/Manila,Health Care,Mountain View College,Yodoo,$6.64,vTv Therapeutics Inc.
998,999,Sybila,Salamon,ssalamonrq@google.ru,Female,124.1.131.36,Marechal Deodoro,Brazil,112-687-9431,America/Maceio,NaN,Centro Universitário Adventista de São Paulo,Camido,$6.97,"Community First Bancshares, Inc."
999,1000,Dulce,Annand,dannandrr@bandcamp.com,Female,145.42.248.252,Yaypan,Uzbekistan,943-449-9691,Asia/Tashkent,NaN,Tashkent Medical Academy,Chatterpoint,$8.37,Voya International High Dividend Equity Income...

In [41]:
countries = ['Colombia','Canada','Peru']
country = dfi['country'].isin(countries)
dfi.loc[country,['last_name','first_name','country']]

        last_name  first_name   country
16        Gleaves    Anatollo      Peru
88      Middleton      Oneida  Colombia
135       Colwell      Manuel      Peru
163    Biddleston    Charisse      Peru
238        Batham        Jori      Peru
242        Rodolf      Frazer  Colombia
255        Semken       Selma    Canada
308         Jinks       Oates    Canada
371  Bartoszewicz        Brew    Canada
375        Twitty      Leland      Peru
382  Quartermaine      Edward  Colombia
410   Blinckhorne      Lizzie    Canada
431      Josovich        Erda    Canada
463        Siward   Shurlocke  Colombia
487       Nossent       Avram    Canada
495       Strauss      Sophia      Peru
511        Vinall         Art  Colombia
516       Ilyunin  Constantin    Canada
560       Mallock       Darci  Colombia
595      Monaghan     Bettina  Colombia
605       Desmond       Gerri      Peru
611        Reford     Addison  Colombia
632       Burwood      Derrik  Colombia
633        Lehrer      Hedvig  Colombia
693    MacDonnell     Antonia      Peru
716      Hatchard       Debra      Peru
720        Keeble     Gasparo      Peru
757        Hebron    Stefania    Canada
778      Taillard     Annette  Colombia
785        Savell     Shaylah    Canada
810       Curneen       Wynne    Canada
906       Anstead    Nicolina  Colombia
957     Lilbourne      Victor    Canada

In [42]:
zone = dfi['time-zone'].str.contains('Berlin',na=False)
dfi.loc[zone,['country','time-zone']]

            country      time-zone
184  Czech Republic  Europe/Berlin
702         Germany  Europe/Berlin
931         Germany  Europe/Berlin

In [44]:
dfi

,id,first_name,last_name,email,gender,ip_address,city,country,phone,time-zone,sector,university,company,money,stock-name
0,1,Nicol,Gontier,ngontier0@moonfruit.com,Male,14.6.133.124,Jiangnan,China,582-277-7571,Asia/Shanghai,Finance,Shanghai Institue of Foreign Trade,Twinder,$2.24,AmeriServ Financial Inc.
1,2,Bale,Defont,bdefont1@biblegateway.com,Male,213.198.46.35,Paris 01,France,262-426-2235,Europe/Paris,Energy,IDRAC (Institut de recherche en action commerc...,Skipstorm,$8.09,Range Resources Corporation
2,3,Paula,Orrell,porrell2@nih.gov,Female,12.73.137.140,Olafulihaa,Indonesia,534-284-1417,Asia/Makassar,Consumer Services,Universitas Atma Jaya Yogyakarta,Eidel,$9.01,"Ferrellgas Partners, L.P."
3,4,Kristopher,Mulchrone,kmulchrone3@posterous.com,Male,177.30.62.230,Chicago,United States,773-237-4393,America/Chicago,NaN,California School of Professional Psychology -...,LiveZ,$4.38,Putnam High Income Bond Fund
4,5,Traver,Marland,tmarland4@about.com,Male,221.191.58.184,Bang Lamung,Thailand,369-832-8208,Asia/Bangkok,NaN,International Buddhist College,Zava,$3.96,Wells Fargo & Company
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Brody,Rockhall,brockhallrn@vkontakte.ru,Male,170.187.46.152,Beiqiao,China,842-643-4789,Asia/Shanghai,Public Utilities,Northern Sichuan Medical College,Skajo,$5.62,"Dominion Energy, Inc."
996,997,Laird,Moseby,lmosebyro@scientificamerican.com,Male,75.71.58.234,Turija,Serbia,841-919-1249,Europe/Belgrade,Finance,University of Kragujevac,Tagcat,$2.91,Cowen Inc.
997,998,Piotr,Ebbles,pebblesrp@ustream.tv,Male,92.179.241.85,Igang,Philippines,931-269-9021,Asia/Manila,Health Care,Mountain View College,Yodoo,$6.64,vTv Therapeutics Inc.
998,999,Sybila,Salamon,ssalamonrq@google.ru,Female,124.1.131.36,Marechal Deodoro,Brazil,112-687-9431,America/Maceio,NaN,Centro Universitário Adventista de São Paulo,Camido,$6.97,"Community First Bancshares, Inc."
999,1000,Dulce,Annand,dannandrr@bandcamp.com,Female,145.42.248.252,Yaypan,Uzbekistan,943-449-9691,Asia/Tashkent,NaN,Tashkent Medical Academy,Chatterpoint,$8.37,Voya International High Dividend Equity Income...

In [47]:
dfi['concatena'] = dfi['time-zone'] + ' ' + dfi['country']

In [49]:
dfi['concatena']

0                Asia/Shanghai China
1                Europe/Paris France
2            Asia/Makassar Indonesia
3      America/Chicago United States
4              Asia/Bangkok Thailand
                   ...
995              Asia/Shanghai China
996           Europe/Belgrade Serbia
997          Asia/Manila Philippines
998            America/Maceio Brazil
999         Asia/Tashkent Uzbekistan
Name: concatena, Length: 1000, dtype: object

In [50]:
dfi.drop(columns=['first_name','last_name'], inplace=True)

In [51]:
dfi

,id,email,gender,ip_address,city,country,phone,time-zone,sector,university,company,money,stock-name,concatena
0,1,ngontier0@moonfruit.com,Male,14.6.133.124,Jiangnan,China,582-277-7571,Asia/Shanghai,Finance,Shanghai Institue of Foreign Trade,Twinder,$2.24,AmeriServ Financial Inc.,Asia/Shanghai China
1,2,bdefont1@biblegateway.com,Male,213.198.46.35,Paris 01,France,262-426-2235,Europe/Paris,Energy,IDRAC (Institut de recherche en action commerc...,Skipstorm,$8.09,Range Resources Corporation,Europe/Paris France
2,3,porrell2@nih.gov,Female,12.73.137.140,Olafulihaa,Indonesia,534-284-1417,Asia/Makassar,Consumer Services,Universitas Atma Jaya Yogyakarta,Eidel,$9.01,"Ferrellgas Partners, L.P.",Asia/Makassar Indonesia
3,4,kmulchrone3@posterous.com,Male,177.30.62.230,Chicago,United States,773-237-4393,America/Chicago,NaN,California School of Professional Psychology -...,LiveZ,$4.38,Putnam High Income Bond Fund,America/Chicago United States
4,5,tmarland4@about.com,Male,221.191.58.184,Bang Lamung,Thailand,369-832-8208,Asia/Bangkok,NaN,International Buddhist College,Zava,$3.96,Wells Fargo & Company,Asia/Bangkok Thailand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,brockhallrn@vkontakte.ru,Male,170.187.46.152,Beiqiao,China,842-643-4789,Asia/Shanghai,Public Utilities,Northern Sichuan Medical College,Skajo,$5.62,"Dominion Energy, Inc.",Asia/Shanghai China
996,997,lmosebyro@scientificamerican.com,Male,75.71.58.234,Turija,Serbia,841-919-1249,Europe/Belgrade,Finance,University of Kragujevac,Tagcat,$2.91,Cowen Inc.,Europe/Belgrade Serbia
997,998,pebblesrp@ustream.tv,Male,92.179.241.85,Igang,Philippines,931-269-9021,Asia/Manila,Health Care,Mountain View College,Yodoo,$6.64,vTv Therapeutics Inc.,Asia/Manila Philippines
998,999,ssalamonrq@google.ru,Female,124.1.131.36,Marechal Deodoro,Brazil,112-687-9431,America/Maceio,NaN,Centro Universitário Adventista de São Paulo,Camido,$6.97,"Community First Bancshares, Inc.",America/Maceio Brazil
999,1000,dannandrr@bandcamp.com,Female,145.42.248.252,Yaypan,Uzbekistan,943-449-9691,Asia/Tashkent,NaN,Tashkent Medical Academy,Chatterpoint,$8.37,Voya International High Dividend Equity Income...,Asia/Tashkent Uzbekistan

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=050c424d-4808-417f-bf01-ddcec3324e7b' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>